<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/now-ui-kit.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="assets/BotLogo.png">
    <title>Pipers</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-transparent">
    <img src="assets/BotLogo.png" width="50" height="50">
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 20px !important">
        </div>
        <a href="https://discord.com/api/oauth2/authorize?client_id=941461627667120148&permissions=8&scope=bot">
        <button class="btn login-btn btn-outline-accent my-2 my-sm-0" style="font-size: 10px !important;font-family: poppins !important;">Invite</button>
    </a>
    </div>
</nav>
<div class="heading">
    <h1 class="display-5 title">It's time to use Bot in your server.</h1>
    <p class="subtitle">Bot is a multi-purpose bot ready to skill up and boost up your Discord server<br />Also features auto-moderation, administration, music and much more!</p>
    <a class="btn btn-primary btn-lg" href="https://discord.com/api/oauth2/authorize?client_id=941461627667120148&permissions=8&scope=bot" target="_blank" role="button">Add to server</a>
    <a class="btn btn-secondary btn-lg" href="https://discord.gg/A8sDBjVbup" target="_blank" role="button">join our Server</a>
    <br /><br /><br /><br /><br /><br />
</div>
<div class="features">
    <div class="title">About bot & us</div>
    <div class="subtitle">
        This is what we provide you about bot or support
        </div>
    <div class="cards">
        <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">About bot</h5>
            <p class="card-text">Pipers#6086 is a discord bot make for server moderation or to play music and a lot more our bot have over 400+ command and have lot of lot of function so try it out.</p>
        </div>
    </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Support</h5>
                <p class="card-text">Team support is always listen to your problem like bugs and more about the bot we will try to respond to all of your request as fast as possible and try to fix the problem and help you.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Price</h5>
                <p class="card-text">You don't need any moneys to use this bot. If you like our work you can donate to us to support our work and if you like to contact us for work you can do so from here: <a style="color: #AD91FF;">acc.billhub@gmail.com</a></p>
            </div>
        </div>
    </div>
</div>
<div class="page_end">
    <div class="start">
        <div class="card">
            <div class="card-body gs-card">
                <div class="title">Ready to try Bot?</div>
                <div class="subtitle">Invite Bot and start giving your server cool perks!</div>
                <br />
                <a class="btn btn-primary btn-lg" href="https://discord.com/api/oauth2/authorize?client_id=941461627667120148&permissions=8&scope=bot" role="button">Get started</a>
            </div><br />
        </div>
    </div>
    <div class="footer">
        <div class="bot-footer">
            <img src="assets/BotLogoWord.png" width="150"><br />
            Copyright © [Bill_Hub] - 2021
        </div><br/>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="js/now-ui-kit.min.js"></script>
</body>
</html>
